{% extends 'base.html' %} 
{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      onKeyPress="inputKeyPress(event)"
    />
    <button type="button" name="send" class="send-btn" id="send-btn" onClick="sendMessage()">
      Send
    </button>
    <button type="button" class="leave-btn" onClick="leaveRoom()">Leave Room</button>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value === "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  const leaveRoom = () => {
    socketio.disconnect();
  };

  const inputKeyPress = (event) => {
    if (event.keyCode === 13) {
      event.preventDefault();
      sendMessage();
    }
  };

  socketio.on("disconnect", () => {
    window.location.href = "/"; // Redirect to the home page
  });
</script>
{% endblock %}
